<!DOCTYPE html>
<html>
  <head>
    <title>Client List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Client List</h1>
    <ul>
      <%
        var list = '';
        for (i = 0; i < clientlist.length; i++) {
          list += '<li><a href="mailto:' + clientlist[i].email + '">' + clientlist[i].clientname + '</a></li>';
        }
      %>
      <%= list %>
    </ul>
  </body>
</html>